@Model pg.Models.Products
@{
    ViewData["Title"] = "Home page";

}
<h1>Hello World </h1>
<div>
    <p>
        5555 : @Model.pid <br/>
        666 : @Model.pn <br/>
        777 : @Model.pp <br/>

    </p>
</div>